
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pinyon+Script&family=Rubik+Iso&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./white-waves.png);
}

nav .logo{
    width: 80px;
    height: 80px;
   }

:root {
    --link-1: gold;
    --link-2: goldenrod;
}

.menu {
    background-color: black;
    font-family: Merriweather, serif;
    position: fixed;
    top: 0;
    width: 100%;
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: .5rem;
}

.menu-list {
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}



.menu-link {
    text-decoration: none;
    color: aliceblue;
    width: 100%;
    font-weight: 700;
}


  
  .menu-item {
    position:fixed;
    transition: color 0.4s ease-in-out;
  }

  .menu-item::before {
    content: "";
    position:absolute;
    top: 100%;
    width: 100%;
    height: 2px;
    background-color: var(--link-1);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
  }

  .menu-item:hover::before {
    transform: scaleX(1.1);
  }
  
  ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:0px;
    font-size:1.1rem;
    padding:2px;
    font-family:Merriweather, serif;
    text-transform:uppercase;
    letter-spacing:1px;
   }

   ul li {
    background-color: 000;
    position:relative;
    float:left;
    gap: 3rem;
   }

   ul li:hover {
    background: black;
    }


    .menu-item {
        position:relative;
        transition: color 0.4s ease-in-out;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
      }



.img-1 {
    margin: auto;
    display: block;
    margin-top: 5.5rem;
    margin-bottom: 3rem;
}


.label-1 {
    font-family: pinyon script;
    background-color: #000;
    color: white;
    font-weight: 300;
    font-size: 6rem;
    margin-bottom: 3rem;
    margin-left: 400px;
    margin-right: 0px;
    padding: .2rem 1rem; 
    border-bottom-left-radius: 50px;
    border-radius: 7px double;
    border: 4px solid burlywood;
   
    display:flex;
    flex: auto;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-size: contain;
}

.label-1 div{
    font-family: Merriweather, serif;
    color: aliceblue;
    font-size: 4rem;
   
}

.secciones {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.label-2 {
    display: flex;
    text-align: center;
    font-family: Merriweather, serif;
    color: #fff;
    font-size: 2.3rem;
    font-weight: 100;
    justify-content: center;
    padding: 1.5rem;
    border: 2px double black;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: #000;
    width: 600px;
    
}

.label-3 {
    text-align: center;
    font-size: 4rem;
    font-family: Merriweather, serif;
    margin-top: 4rem;
    margin-bottom: 3rem;
    
}

.boxing-1 {
    display: flex;
    flex-wrap: wrap;
    flex:auto;
    margin: auto;
    text-align: center;
    padding: .5rem;
    width: 70%;
    justify-content: center;
    font-size: 2rem;


}


.seccion-1 {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    font-size: 7rem;
    

    
}
.seccion-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #000;
    text-decoration: none;
    font-size: 7rem;

}



a {
    text-decoration:none;
    color: black;
  }



  
  iframe {
    height: 700px;
    width: 500px;
    margin: auto;
    display: block;
    border: solid 4px black;
  }

.box-2 {
    display: grid;
    width: auto;
    grid-template-columns: 50% 50%;
    grid-template-rows: 60% 40%;

}
.item-1 {
    text-align: center;
    align-items: center;
    margin: auto;
    font-family: Merriweather, serif;
    font-size: 1.5rem;
    padding: auto;
}
.item-3 {
    text-align: center;
    align-items: center;
    margin: auto;
    font-family: Merriweather, serif;
    font-size: 1.5rem;
}




.footer-1 {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-top: 10rem;
    margin-bottom: 0px;
    background-color: #000;
    justify-content: space-around;
    
}


.footer-2 {
    flex-direction: column;
    color: #fff;
    font-family:Merriweather, serif;
    font-size: 1.2rem;
    padding: 2rem;
    align-content: center;
    justify-content: space-between;
    align-self: auto;
    text-align: center;
    gap: 1rem;
    
    
}

.footer-2 h4 {
    color: #fff;
    padding: 1rem;
}
.footer-label {
    color: white;
}



.seccion-2 {
    background-color: #fff;
    font-family:Merriweather, serif;
    color: black;
    font-weight: 900;
    font-size: 2.5rem;
    border-radius: 10px;
    padding: .3rem;
    display:flexbox;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    width:fit-content;
    height:fit-content;
   
}

.grid-1 {
    display: grid;
    width: 85%;
    margin: auto;
    padding: 20px;

}

.grid-2 {
    display: grid;
    grid-row: row;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 3rem;
}

.card-1 {
    display: grid;
    grid-template-columns: auto;
    min-height: 370px;
    position:static;
    align-items: center;
    justify-content: center;
    align-items: center;
    transition:all .7s;
    cursor: pointer;
    
}

.card-1:hover {
    transform: scale(1.2);
}

.catalogo-1 {
    width: 300px;
    height: 300px;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    border: solid #000 0px;
}
.Titulo-1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    font-family: fantasy;
    border: #000 3px;
}
.product-info {
    display: flex;
    height: auto;
    color: #000;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
   flex-direction: column-reverse;
   align-items: center;
   background-color: #fff;
   padding: .4rem;
    font-family:Merriweather, serif;
    border: solid 2px black;
    text-align: center;
    margin: .3rem;
  

}

.over-flow {
    margin: 60px;
    overflow-x:scroll ;
    display: flex;
    flex-direction: row;
    border: #000 3px solid;
    width: 80%;
    height: 480px;
    gap: 5rem;
    align-items: center;
    padding: 3rem;
    border-top-left-radius: 25px;
    background-color: white;
    margin-bottom: -3px;

}

#prueba-1 {
    position: sticky;
    top: 95px;
}

.texto-2 {
    height: 300px;
    width: 300px;
    
    transition: all .7s;
    text-align: center;
    -webkit-transition: all 2s;
    transition-timing-function:cubic-bezier(1, .46, .48, 1.68);
    -webkit-transition-timing-function: cubic-bezier(1, .46, .48, 1.68);
    object-fit: cover;
    object-position: left;
    
}
.texto-2:hover{
    background-color: #000;
    color: #fff;
    width: 590px;
    height: 700px;

}

