
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pinyon+Script&family=Rubik+Iso&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --link-1: burlywood;
    --link-2: goldenrod;
}
a {
    text-decoration:none;
    color: white;
}

/* Menu de navegación */

.logo{
    height: 80px;
}
.enlace {
    position: absolute;
    padding: 3px 50px;
}
.menu {
    position: fixed;
    background-color: black;
    width: 100%;
    height: 86px;
}



.menu ul {
    float: right;
    margin-right: 30px;
}

.menu ul li {
    display: inline-block;
    justify-content: space-between;
    width: auto;
    line-height: 80px;
    margin: 0 50px;
}


.menu ul li a {
    color: white;
    font-size: 1.5rem;
    padding: 7px 13px;
    text-transform: uppercase;
    transition: .7s;
}
li a.menu-link, li a:hover {
    background: white;
    transition: .7s;
    color:#000 !important;
}

.checkbutton {
    font-size: 2rem;
    color: #fff;
    float: right;
    line-height: 86px;
    margin-right: 20px;
    display: none;
}



#check {
    display: none;
}

@media (max-width: 1000px) {
    .enlace {
        padding-left: 20px;
    }
    
    .menu ul li a{
        font-size: 1rem;
    }
    
}

@media (max-width: 1223px){
    
    .checkbutton {
        display: block;
    }
    .enlace {
        padding: 8px;
    }
    .logo {
        margin-left: 155%;
        
    }
    
    .menu {
        height: 96px;
    }
    
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: black;
        top: 96px;
        left: -100%;
        text-align: center;
        transition: all 1s;
    }
    .menu ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    
    .menu ul li a{
        font-size: 20px;
        width: 100%;
        font-weight: 700;
        
    }
    
    li a:hover, li a:active{
        background: none;
        color: burlywood;
    }
    
    #check:checked ~ ul {
        left:-20%;
    }
    
}

/*Buscador interno*/

.buscador {
    width: 100%;
    display: flex;
    flex: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

input {
    height: 2rem;
    width: 0%;
    padding: 0 14px;
    color: black;
    border-radius: 60px;
    font-size: 1rem;
    border: 2px solid burlywood;
    transition: all 1s;
    font-weight: 100;
    opacity: .6;
}

.bs-div1 {
    padding-right: 1px;
}


::placeholder {
    color: #7a7a7a;
    font-size: medium;
    text-align: center;
}

.buscador i {
   position: relative;
    transition: all 1s ease;
}

.bs-div1 input:hover ~ i {
  transform: translate(100px, 0);
}

.input-1:hover {
    width: 270px;
    border: 2px double black;
    
}


/* .buscador div{
    padding;
} */
/* transform: rotate(-360deg); */




/* .btn {
    width: auto;
    margin-top: 23px;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    height: 40px;
    background: black;
    line-height: 40px;
    border-radius: 50%;
    text-align: center;
    cursor: pointer;
    transition: 1s;
    
    .btn:hover {
    background-color: burlywood;
    width: 50px;
    height: 50px;
   
} */


/* Buscador interno / Menu de Navegacion*/




/* PRUEBA START */

.test-flex {
    display: flex;
}

.prueba-3 {
    background-color: red;
    height: 180px;
    width: 120px;
    text-align: center;
    padding: 10px;
    overflow:scroll;

}

.prueba-4 {
    background-color: blue;
    height: 130px;
    width: 120px;
}
.prueba-5 {
    background-color: burlywood;
    height: 150px;
    width: 120px;
}


/* PRUEBA End */



/* Contenido del body  */

body{
    background-image: url(../imagenes/white-waves.jpg);
    
}

.img-portada {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-1 {
    width: 80%;
    height: auto;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.label-1 {
    display:flex;
    flex: auto;
    align-items: center;
    justify-content: center;
    width: 70%;
    font-family: pinyon script;
    background-color: #000;
    color: white;
    font-weight: 300;
    font-size: 4rem;
    
    margin: auto;
    margin-bottom: 1rem;
    margin-right: 0;
    padding: .2rem;
    border-bottom-left-radius: 10px;
    gap: 1rem;
}

.label-1 span{
    font-family: Merriweather, serif;
    color: aliceblue;
    font-size: 3rem;
}

.secciones {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.label-2 {
    display: flex;
    text-align: center;
    font-family: Merriweather, serif;
    background-image: linear-gradient(black, black, black, black, white);
    color: #fff;
    justify-content: center;
    
    font-size: 1.1rem;
    font-weight: 100;
    padding: 1rem;
    padding-top: 5px;
    width: 80%;
    margin-bottom: 3rem;
    margin-top: 1rem;
    border-radius: 5px 5px 0px 0px;
}

.label-2 a {
    transition: 1s;
}

.label-2 a:hover {
    color: burlywood;
    transition: 1s;
}

.label-3 {
    text-align: center;
    font-size: 4rem;
    font-family: Merriweather, serif;
    margin-top: 4rem;
    margin-bottom: 3rem;  
}

.boxing-1 {
    display: flex;
    flex-wrap: wrap;
    flex:auto;
    text-align: center;
    justify-content: center;
    
    margin: auto;
    padding: .5rem;
    width: 70%;
    font-size: 2rem;
}

.seccion-1 {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    
    font-size: 7rem;
}

.seccion-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #000;
    
    text-decoration: none;
    font-size: 7rem;
}  

.grid-1 {
    display: grid;
    justify-content: center;
    width: 85%;
    margin: auto;
    padding: 20px; 
}

.grid-2 {
    display: grid;
    grid-row: row;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    
    gap: 7rem;
}

.card-1 {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 260px;
    position:static;
    align-items: center;
    justify-content: center;
    align-items: center;
    transition:all .7s;
    cursor: pointer; 
}

.card-1:hover {
    transform: scale(1.2);
}

.catalogo-1 {
    width: 210px;
    height: 210px;
    margin: 0rem;
    border: #dfdfdf 1px solid;
    
}
.catalogo-2 {
    max-width: 100%;
    border-radius: 13px;
    
}

.Titulo-1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    font-family: fantasy;
    border: #000 3px;
}
.product-info {
    width: 200px;
    height: auto;
    display: flex;
    color: black;
    background-color: transparent;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    
    padding: .4rem;
    margin: 0%;
    border-radius: 0px;
    border: #cfcfcf 1px solid;
}

h3 {
    font-weight: 200;
}

.ver-mas {
    
    padding: 0.5rem;
    color: black;
}
.button-mas {
    margin-top: -80px;
    color: #000;
}

.over-flow {
    display: flex;
    width: 70%;
    height: 380px;
    background-color: transparent;
    overflow-x:scroll;
    
    gap: 9rem;
    align-items: center;
    padding: 3rem;
    margin: auto;
}

.contenedor-secciones {
    display: flex;
    flex: auto;
    flex-wrap: 1fr 1fr 1fr;
    align-items: center;

    width: 100%;
    margin: auto;
}

.seccion-2 {
    display: flex;
    font-family: sans-serif, serif;
    background-color: transparent;
    font-weight: 300;
    font-size: 5rem;
    border-radius: 10px;
    transition: 1s;
    width: 100%;
    justify-content: center;
}

.seccion-5 {
    padding: 1rem;
    background-color: #000;
    border-radius: 10px;
    color: white;
    transition: 1.3s;
    cursor: pointer;
    width: 80%;
    margin: auto;
    justify-content: center;
}

.seccion-5:hover {
    background-color: grey;
    color: burlywood;
    font-size: 1.3rem;
}

.seccion-6 {
    padding: 1rem;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    transition: 1.3s;
    cursor: pointer;
    width: 80%;
    margin: auto;
}
.seccion-6:hover {
    background-color: grey;
    color: burlywood;
    font-size: 1.3rem;
}

.seccion-7 {
    padding: 1rem;
    background-color: #000;
    border-radius: 10px;
    color: #fff;
    transition: 1.3s;
    cursor: pointer;
    width: 80%;
    margin: auto;
}

.seccion-7:hover {
    background-color: grey;
    color: burlywood;
    font-size: 1.3rem;
}

/* contato */

.box-1 {
    display: grid;
    width: auto;
    
    margin-top: 1rem;
    margin-bottom: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px 90px 90px 50px 90px 90px 90px 90px 90px;
}


.item-1 {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align:left;
    align-items: center;
    padding: 5rem;
    
    font-family: Merriweather, serif;
    font-size: 1.2rem;
    border-bottom: #000 solid 2px;
    width: 100%;
}

.item-2 {
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 6;
    grid-column-end: 10;
    
    display: flex;
    align-items: center;
}
iframe {
    width: 80%;
    height: 80%;   
    margin: auto;
    display: block;
    border: solid 2px black;
    border-radius: 10px;
}

.item-3 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 6;
    
    text-align: left;
    margin: auto;
    font-family: Merriweather, serif;
    font-size: 1.8rem;
    width: 100%;
    padding-left: 5rem;
}

.item-4 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 5;
    
    text-align: left;
    font-size: 1.3rem;
    padding-left: 6rem;
}

.item-5 {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 5;
    
    text-align: left;
    font-size: 1.3rem;
    padding-left: 6rem;
}

.item-6 {
    grid-row-start: 8;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 6;
    
    font-size: 1.5rem;
    align-items: center;
    padding-left: 5rem;
}

.contacto-redes {
    color: #000;
}

.footer-1 {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 0px;
    background-color: #000;
    justify-content: space-around;
    
}

.footer-2 {
    flex-direction: column;
    color: #fff;
    font-family:Merriweather, serif;
    font-size: 1.2rem;
    padding: 2rem;
    align-content: center;
    justify-content: space-between;
    align-self: auto;
    text-align: center;
    margin-bottom: 4rem;
    
}

.footer-2 h4 {
    color: #fff;
    padding: 1rem;
}

@media (max-width: 1168px) { 
    
    .label-1 {
        font-size: 2rem;
        gap: .5rem;
        width: 85%;
    } 

    .box-1 {
        display: grid;
        width: auto;
        margin-top: 1rem;
        margin-bottom: 4rem;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: auto 90px 90px 50px 90px 90px 90px 90px 90px;
    }
    
    .item-1 {
        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 10;
        text-align:center;
        align-items: center;
        padding: 2rem 5rem;
        background: white;
        position:unset;
        
        font-family: Merriweather, serif;
        font-size: 1.2rem;
        width: 100%;
    }
    
    .item-2 {
        grid-row-start: 4;
        grid-row-end: 8;
        grid-column-start: 1;
        grid-column-end: 10;
        
        display: flex;
        align-items: center;
    }
    iframe {
        width: 90%;
        height: 80%;   
        margin: auto;
        display: block;
        border: solid 1px black;
        border-radius: 10px;
    }
    
    .item-3 {
        grid-row-start: 10;
        grid-row-end: 11;
        grid-column-start: 2;
        grid-column-end: 5;
        
        text-align: left;
        margin: auto;
        font-family: Merriweather, serif;
        font-size: 1.8rem;
        width: 100%;
        padding-left: 5rem;
    }
    
    .item-4 {
        grid-row-start: 11;
        grid-row-end: 12;
        grid-column-start: 1;
        grid-column-end: 9;
        
        text-align: left;
        font-size: 1.3rem;
        padding-left: 6rem;
    }
    
    .item-5 {
        grid-row-start: 12;
        grid-row-end: 13;
        grid-column-start: 1;
        grid-column-end: 9;
        
        text-align: left;
        font-size: 1.3rem;
        padding-left: 6rem;
    }
    
    .item-6 {
        grid-row-start: 8;
        grid-row-end: 9;
        grid-column-start: 1;
        grid-column-end: 9;
        
        font-size: 1.5rem;
        text-align: left;
        padding-left: 3.8rem;
    }
}


@media (max-width: 480px) {
    
    .img-1 {
        width: 100%;
        margin-top: 7rem;
        margin-bottom: 1rem;
    } 
    
    .label-1 {
        font-size: 2rem;
         gap: .3rem;
    }
    
    .label-1 div{
        font-size: 1.4rem;
       
    } 

    .contenedor-secciones {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        width: 100%;
        gap: 2rem;
    } 
    .seccion-6 {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: auto;
        width: 60%;
        
    } 
    .seccion-5 {
        
        padding-top: 5px;
        padding-bottom: 5px;
        margin: auto;
        width: 60%;
        
    } 
    .seccion-7 {
        padding-top: 5px;
        padding-bottom: 5px;
        margin: auto;
        width: 60%;
    } 
    
    .grid-2 {
        grid-template-columns: 1fr;
        gap: 5rem;
    } 
}




