
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pinyon+Script&family=Rubik+Iso&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration:none;
    color: white;
}

body{
    background-image: url(../imagenes/white-waves.png);
}

nav .logo{
    width: 80px;
    height: 80px;
}

:root {
    --link-1: gold;
    --link-2: goldenrod;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    font-family: Merriweather, serif;
    background-color: black;

    top: 0;
    width: 100%;
    padding: .5rem;
}

.menu-list {
    flex: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
}

.menu-link {
    text-decoration: none;
    color: aliceblue;
    width: 100%;
    font-weight: 700;
}


.menu-item {
    position:relative;
    transition: color 0.4s ease-in-out;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.menu-item::before {
    content: "";
    position:absolute;
    background-color: var(--link-1);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
     top: 100%;
    width: 100%;
    height: 2px;
  }
.menu-item:hover::before {
    transform: scaleX(1.1);
}
  

  
ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:0px;
    font-size:1.1rem;
    padding:2px;
    font-family:Merriweather, serif;
    text-transform:uppercase;
    letter-spacing:1px;
}


ul li {
    background-color: 000;
    position:relative;
    float:left;
    gap: 3rem;
}
ul li:hover {
    background: black;
}

.img-portada {
    display: flex;
    justify-content: center;
    width: 100%;
}

.img-1 {
    width: 80%;
    height: auto;
    margin-top: 5.5rem;
    margin-bottom: 3rem;
}


.label-1 {
    font-family: pinyon script;
    background-color: #000;
    color: white;
    font-weight: 300;
    font-size: 6rem;
    margin-bottom: 3rem;
    margin-left: 400px;
    margin-right: 0px;
    padding: .2rem 1rem; 
    border-bottom-left-radius: 50px;
    border-radius: 7px double;
    border: 4px solid burlywood;
   
    display:flex;
    flex: auto;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-size: contain;
}
    .label-1 div{
    font-family: Merriweather, serif;
    color: aliceblue;
    font-size: 4rem;
    }


.secciones {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.label-2 {
    display: flex;
    text-align: center;
    font-family: Merriweather, serif;
    color: #fff;

    font-size: 1.7rem;
    font-weight: 100;
    justify-content: center;
    padding: 1rem;
    padding-top: 5px;
    width: 600px;
    margin-bottom: 3rem;
    margin-top: 1rem;
    background-image: linear-gradient(black, black, black, black, white);
}

.label-3 {
    text-align: center;
    font-size: 4rem;
    font-family: Merriweather, serif;
    margin-top: 4rem;
    margin-bottom: 3rem;  
}


.boxing-1 {
    display: flex;
    flex-wrap: wrap;
    flex:auto;
    text-align: center;
    justify-content: center;

    margin: auto;
    padding: .5rem;
    width: 70%;
    font-size: 2rem;
}


.seccion-1 {
    display: flex;
    flex: auto;
    align-items: center;
    justify-content: space-around;
    background-color: white;

    font-size: 7rem;
}

.seccion-2 {
    background-color: #fff;
    font-family: sans-serif, serif;
    color: burlywood;
    background-color: transparent;
    font-weight: 100;
    font-size: 1.8rem;
    border-radius: 10px;
    padding: .3rem;
    display:flexbox;
    flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    width:fit-content;
    height:fit-content;
    transition: 1s;
   
}

.seccion-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #000;

    text-decoration: none;
    font-size: 7rem;
}  



.seccion-2:hover {
    color: white;
    transform: scale(1.2);
    font-family: Arial, Helvetica, sans-serif;
}

.grid-1 {
    display: grid;
    justify-content: center;
    width: 85%;
    margin: auto;
    padding: 20px;

}

.grid-2 {
    display: grid;
    grid-row: row;
    padding: 30px;
    grid-template-columns: 1fr 1fr 1fr;

    gap: 7rem;
}

.card-1 {
    display: grid;
    grid-template-columns: auto;
   width: 200px;
   height: 280px;
    position:static;
    align-items: center;
    justify-content: center;
    align-items: center;
    transition:all .7s;
    cursor: pointer;
    
}

.card-1:hover {
    transform: scale(1.2);
}

.catalogo-1 {
   width: 200px;
   height: 200px;
   margin: 0%;
}
.catalogo-2 {
   width: 200px;
   height: 200px;
   border-radius: 13px;

}

.Titulo-1 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 4rem;
    font-family: fantasy;
    border: #000 3px;
}
.product-info {
    width: 200px;
    height: 80px;
    display: flex;
    color: white;
    background-color: black;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;

    padding: .4rem;
    margin: 0%;
    border-radius: 5px;
}

h3 {
    font-weight: 200;

}

.over-flow {
    display: flex;
    width: auto;
    height: 380px;
    background-color: transparent;
    overflow-x:scroll ;
    flex-direction: row;
    justify-content: space-between;
    
    gap: 11rem;
    margin: auto;
    align-items: center;
    padding: 3rem;
    margin-bottom: -3px;
    margin-right: 60px;
    
}


.texto-2 {
    height: 300px;
    width: 300px;
    
    transition: all .7s;
    text-align: center;
    -webkit-transition: all 2s;
    transition-timing-function:cubic-bezier(1, .46, .48, 1.68);
    -webkit-transition-timing-function: cubic-bezier(1, .46, .48, 1.68);
    object-fit: cover;
    object-position: left;
    
}
.texto-2:hover{
    background-color: #000;
    color: #fff;
    width: 590px;
    height: 700px;

}

.contenedor-secciones {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}



.seccion-5 {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 1rem;
    background-image: linear-gradient(black, black, black, white);
    color: white;
    border-radius: 10px;
    padding-top: 4px;
}

.seccion-6 {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 1rem;
    background-image: linear-gradient(black, black, black, white);
    color: white;
    border-radius: 10px;
    padding-top: 4px;
}

.seccion-7 {
    display: flex;
    justify-content: center;
    width: 20%;
    padding: 1rem;
    background-image: linear-gradient(black, black, black, white);
    color: white;
    border-radius: 10px;
    padding-top: 4px;
}

/* contato */


.box-1 {
    display: grid;
    width: auto;

    margin-top: 8rem;
    margin-bottom: 4rem;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 90px 90px 90px 50px 90px 90px 90px 90px 90px;
}


.item-1 {
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align:left;
    align-items: center;
    padding: 5rem;

    font-family: Merriweather, serif;
    font-size: 1.5rem;
    border-bottom: #000 solid 2px;
    width: 100%;
}

.item-2 {
    grid-row-start: 1;
    grid-row-end: 10;
    grid-column-start: 6;
    grid-column-end: 10;

    display: flex;
    align-items: center;
}
iframe {
    width: 80%;
    height: 80%;   
    margin: auto;
    display: block;
    border: solid 4px black;
    border-radius: 10px;
}

.item-3 {
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 6;

    text-align: left;
    margin: auto;
    font-family: Merriweather, serif;
    font-size: 1.8rem;
    width: 100%;
    padding-left: 5rem;
}

.item-4 {
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 5;

    text-align: left;
    font-size: 1.3rem;
    padding-left: 6rem;
}

.item-5 {
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 5;

    text-align: left;
    font-size: 1.3rem;
    padding-left: 6rem;
}

.item-6 {
    grid-row-start: 8;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 6;

    font-size: 1.7rem;
    align-items: center;
    padding-left: 3rem;
}




.contacto-redes {
    color: #000;
}


.footer-1 {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    height: auto;
    margin-top: 5rem;
    margin-bottom: 0px;
    background-color: #000;
    justify-content: space-around;
    
}


.footer-2 {
    flex-direction: column;
    color: #fff;
    font-family:Merriweather, serif;
    font-size: 1.2rem;
    padding: 2rem;
    align-content: center;
    justify-content: space-between;
    align-self: auto;
    text-align: center;
    gap: 1rem;
    
    
}

.footer-2 h4 {
    color: #fff;
    padding: 1rem;
}
